body {
  padding: 0;
  margin: 0;
  background-image: url('../../assets/soundPicture.jpg');
}
.login_tocenter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_text_password {
  display: flex;
  flex-direction: column;
}
.login_text_password label {
  color: white;
}
.login_forget_find {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.login_forget_find .login_forgrtPassword,
.login_forget_find .login_findPassword {
  color: white;
  margin-right: 1vw;
}
.login_forget_find .login_forgrtPassword:hover,
.login_forget_find .login_findPassword:hover {
  cursor: pointer;
}
.login_button {
  background-color: #26eaff;
  color: #212224;
}
